.copyButton {
  position: absolute;
  right: 3;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  height: 25px;
  width: 50px;
}

.copyButton:hover {
  color: blue;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.code {
  padding: 10px;
  background-color: #565656;
  border-radius: 4px; 
  margin: 7px;
}